<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>
<body>
    <div class="navbar fixed-top navbar-light bg-primary">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav" style="display:inline-block;">
                <li class="nav-item nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item nav-link">@Html.ActionLink("Book", "Index", "Book")</li>
                @*<li class="nav-item nav-link">@Html.ActionLink("API", "Index", "Help")</li>*@     
            </ul>   
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Libanon Case Study</p>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery-1.10.2.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
